body {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(32, 32, 32) 0%, rgb(93, 71, 107) 39%, rgb(130, 66, 115) 78%, rgb(79, 3, 28) 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
    
}
.formMain{
    text-align: center;
    color: white;
    background-color: rgb(111, 7, 42);
    width: 20%;
    padding: 10px;
    margin: auto;
    margin-top: 150px;
    padding: 50px;
    
}
.h2{
    color: white;
}